<footer class="footer">
  <div class="container">
    <p class="text-muted"><small> &copy; 2018 Where Mah Money At?!, Inc.
    <br>Designed and developed with ❤️  by <a href="https://rohankalgutkar.in">Rohan Kalgutkar</a></small></p>
  </div>
</footer>
