{{> header}}

<body class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome to the dash, {{user.firstname}}.</h2>
      </div>
      <div class="col-md-12">
        <h4>Your email:</h4>
      </div>
      <div class="col-md-12">
        <p>{{user.email}}</p>
      </div>
      <div class="col-md-12">
        <a class="btn btn-sm btn-outline-info" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
    </div>
  </div>
</div>
  {{> footer}}
</body>

</html>
