{{> header}}

<body class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>These are your EMIs.</h2>
      </div>
  </div>
</div>
  {{> footer}}
</body>

</html>
