{{> header}}

<body class="text-center">


  <form class="form-signin" action="/login" method="post">
    <a href="/"><img src="images/logo.png" alt="WMMA Logo" height="80" style="margin-bottom: 20px"></a>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018 Where Mah Money At?, Inc. <br> <small> Designed and developed with <3 by <br /> <a href="rohankalgutkar.in">Rohan Kalgutkar</a></small></p>
  </form>
</body>

</html>
