{{> header}}

<body class="text-center">

  <form action="/register" method="post">
    <a href="/"><img src="images/logo.png" alt="WMMA Logo" height="80" style="margin-bottom: 20px"></a>

    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="firstname" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
    <button type="submit" class="btn btn-outline-primary">Register</button>

    <p style="margin-top: 20px">Existing user? Login <a href="/login">here</a>.</p>
  </form>
  {{> footer}}
</body>

</html>
